{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todolist in todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todolist.pk %}">{{ todolist.name }}</a>
                        </td>
                        <td>{{ todolist.items.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
