{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for todo_item in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' todo_item.pk %}">{{ todo_item.task }}</a>
                        </td>
                        <td>{{ todo_item.due_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
